body {
  font-family: 'Junge', serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Magra', sans-serif;
}

h2 {
  margin-top: 0px;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  color: #D42D2D;
}

.header {
  height: 160px;
  padding-top: 20px;
  background-color: black;
  color: white;
}

.header h2 {
  margin-top: 5px;
  text-transform: capitalize;
}

.header a {
  color: white;
}

.header b {
  font-family: 'Magra', sans-serif;
  text-transform: uppercase;
}

.header a:visited {
  font-weight: normal;
}

.header li {
  margin: 10px 0;  
}

#info-box {
  float: left;
  padding-left: 30px;
}

.body {
  clear: left;
  padding-left: 40px;
  padding-top: 30px;
  /*background-color: #EEE;*/
  background-image: -moz-linear-gradient(top, #EEE, #FFF);
  /*border-bottom: 1px solid black;*/
}

.body h2 {
  color: #D42D2D;
}

.body > p {
  margin-top: 0;
}

.header {
  padding-left: 40px;
}

.header h1 {
  float:left;
  margin-right: 40px;
  margin-bottom: 0;
}

.header h1 img {
  width: 100px;
}

.header ul, #members ul, #projects ul {
  padding: 0;
}

.member {
  height: 60px;
  margin: 5px;
  clear: left;
}

.member h3 {
  margin-top: 0;
  width: 180px;
  float: left;
}

.member ul {
  height: 50px;
  float: left;
  margin-left: 30px;
}

.member li {
  margin-left: 20px;
  float: left;
  display: block;
}

.footer {
  padding: 10px 15px;
}
